.header {
    // color: #FF6B6B;
    color: gold;
    min-height: 10vh;


    p {
        margin-top: 0;
        font-size: 3rem;
        font-weight: 500;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 2rem;
    }
}
